explorer.testnet.recall.network {
  reverse_proxy block-explorer-proxy:5050
  tls infra@3box.io
}
stats.explorer.testnet.recall.network {
  reverse_proxy block-explorer-proxy:8080
  tls infra@3box.io
}
visualize.explorer.testnet.recall.network {
  reverse_proxy block-explorer-proxy:8081
  tls infra@3box.io
}
